@import url(https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap);




:root {
     --gris:   #5d6d7e; 
     --marmol: #f2f3f4;
    --degradado: linear-gradient(45deg,var(--gris) var(--marmol));
} 

*{
font-family: 'Hedvig Letters Serif', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
outline: none;
border: none;
text-transform: none;
;
}

*::selection{
    background-color: beige;
    min-height: 100vh;

}

html{
font-size: 65.3%;
overflow: visible;

}

body{
    background: beige;
}

section{
min-height: 100vh;
padding: 0 9%;
padding-top: 7.5rem;
padding-bottom: 2rem;
}

header{
     position: fixed;
     top: 0; 
     left: 0;
     width: 100%;
     background-color: seashell;
    box-shadow: 0.5rem 1rem #d1bdbd;
     padding: 2rem 10;
     display: flex;   
     justify-content: space-between;
     z-index: 999;
}

header .logo{
    font-size: 2rem;
    color: rgba(13, 13, 14, 0.534)
    
}

header .logo span{
color: var(--gris)

}

header .navbar a{
    font-size: 1.0rem;
margin-left: 2rem;
color:  var(--gris);

}

header .navbar a:hover{
color:blanchedalmond
}

header .input{
display: none;

}

header label{
font-size: 3rem;
color: dimgray;
cursor: pointer;
visibility: visible;
opacity: 1;
}


.Historia{
display:inline-flex;
align-items: center;
justify-content: center;

}

.Historia  .image img{
width: 45vw;
animation: fadeInDown 6s infinite;

}

@keyframes fadeInDown {
    0%, 100%{
        transform: translateY('0rem');
    }
    50%{
        transform: translateY(-2.5rem);
    }
    
}

.Historia .content h3{
font-size: 5.5rem;
color: black;
text-decoration-color: rgb(4, 4, 37);
}

.Historia .content h3 span{
    color: var(--gris);
}


.Historia .content p2{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);


}


    

.Opiniones .boxbox .box{
flex: 1 1 30rem;


}

@media(max-widht:1200px){
html{
font-size: 55%;
    }
}

@media(max-widht:768px){
    header label{
        visibility: visible;
        opacity: 1; 
    }
}


header .navbar{ 
position: absolute;
top: 100%;
left: 0%;
width: 100%;
background:beige;
padding: 1rem 2rem;
border-top: .1rem solid rgba(15, 1, 1, 0.2);
box-shadow: 0 .5rem solid rgba(182, 37, 37, 0.1);
transform-origin: top;
transform: scaleY(0);
opacity: 0;
transition: .2s linear;
}
 
header .navbar a{
display: block;
margin: 2rem 0;
font-size: 2rem;
}

header input:checked ~ .navbar{
    transform: scaleY(1);
    opacity: 1;
}
   

header input:checked ~ label::before{
content: '\f00d';
}

@media(max-widht:450px){
    html{
       font-size: 45%; 

    }

}


.heading{
    font-size: 1.0rem;
margin-left: 2rem;
color:  var(--gris);

 

}



section .Opinions{
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-wrap: initial;

}
.Opiniones .tope{
    font-size: 6rem;
    color: black;
    }
    
    .Opiniones .boxbox p{
        font-size: 2rem;
        color: black;
  
    }

    .Opiniones .boxbox h3{
        font-size: 3rem;
        color: black;
        padding: 1.5rem;

        .Opiniones .boxbox p2{
            font-size: 3rem;
            color: black;
            padding: 1.5rem;

    }


    .Opiniones .boxbox p{
        font-size: 2rem;
        color: black;
  
    }


 

}

