@import url(https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap);


:root {
     --gris:   #5d6d7e; 
     --marmol: #f2f3f4;
    --degradado: linear-gradient(45deg,var(--gris) var(--marmol));
} 

*{
font-family: 'Hedvig Letters Serif', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
outline: none;
border: none;
text-transform: capitalize;
;
}

*::selection{
    background-color: beige;

}

html{
font-size: 65.3%;
overflow: hidden;

}

body{
    background: beige;
}

header{
     position: fixed;
     top: 0; 
     left: 0;
     width: 100%;
     background-color: seashell;
    box-shadow: 0.5rem 1rem #d1bdbd;
     padding: 2rem 10;
     display: flex;   
     justify-content: space-between;
z-index: 999;
}

header .logo{
    font-size: 2rem;
    color: blanchedalmond
    
}

header .logo span{
color: var(--gris)

}

header .navbar a{
    font-size: 1.0rem;
margin-left: 2rem;
color:  var(--gris);

}

header .navbar a:hover{
color:blanchedalmond
}


